<div class="registered-user-chart">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="{{multiply SPACING registeredUsersTotal}}">
    <title>Registered Users Metric Chart</title>
    <desc>A chart shows the number of registered users by date.</desc>

    {{#each registeredUsersNormalized as |registeredUser index|}}
      <g transform="translate(0, {{multiply SPACING index}})">
        <text x="{{BAR_HEIGHT}}" y="22" class="text text-date">{{moment-format registeredUser.date 'MMM Do, YYYY'}}</text>
      </g>

      <g transform="translate(200, {{multiply SPACING index}})" class="bar-container">
        {{#link-to 'registered-users.registered-user' registeredUser.id}}
          <rect x="0" y="0" width="100%" height="{{BAR_HEIGHT}}" class="bar-background"></rect>
          <rect x="0" y="0" width="{{registeredUser.numberNormalized}}%" height="{{BAR_HEIGHT}}" class="bar">
            <animate attributeType="XML" attributeName="width" from="0" to="{{registeredUser.numberNormalized}}%" dur="2s"></animate>
          </rect>
          <text x="10" y="22" class="text">{{registeredUser.number}}</text>
        {{/link-to}}
      </g>

    {{else}}
      <text x="{{BAR_HEIGHT}}" y="16" class="text">No data found.</text>
    {{/each}}
  </svg>
</div>
