<div class="registered-user-chart">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="{{multiply SPACING registeredUsersTotal}}">
    <title>Registered Users Metric Chart</title>
    <desc>A chart shows the number of registered users by date.</desc>

    {{#each registeredUsersNormalized as |registeredUser index|}}
      <g transform="translate(0, {{multiply SPACING index}})">
        <a xlink:href="/{{registeredUser.id}}" xlink:title="View registered users on {{registeredUser.date}}">
          <rect x="0" y="0" width="100%" height="{{BAR_HEIGHT}}" class="bar-background"></rect>
          <rect x="0" y="0" width="{{registeredUser.numberNormalized}}%" height="{{BAR_HEIGHT}}" class="bar"></rect>
          <text x="{{BAR_HEIGHT}}" y="22" class="text">{{registeredUser.number}}</text>
        </a>
      </g>

    {{else}}
      <text x="{{BAR_HEIGHT}}" y="16" class="text">No data found.</text>
    {{/each}}
  </svg>

</div>
