<div id="registered-user">

  <h2>Number of Registered Users on {{moment-format model.date 'MMM Do, YYYY'}}</h2>

  {{#if isEditing}}

    <div class="form-inline">
      {{input type="number" value=model.number placeholder="Number of registered users" autocomplete="off" autofocus=true tabindex=1 class="form-control"}}
      {{pikaday-input value=model.date useUTC=true format='MMM Do, YYYY' placeholder="Date" tabindex=2 class="form-control"}}
    </div>

    <div class="controls">
      <a {{action 'toggleEditRegisteredUser'}}>Cancel</a> <span>or</span> <button {{action 'updateRegisteredUser' model}} class="btn btn-primary">Update</button>
    </div>

  {{else}}

    <h3>{{model.number}}!</h3>

    <div class="controls">
      <a {{action 'toggleEditRegisteredUser'}}>Edit</a> <span>or</span> <button {{action 'deleteRegisteredUser' model}} class="btn btn-danger">Delete</button>
    </div>

  {{/if}}

</div>
